<h1> Update Teahouse Info </h1>
<%= form_with model: @teahouse, url: teahouse_path(@teahouse), local: true do |f| %>
  <%= f.label :name, 'Name:' %>
  <%= f.text_field :name %>
  <%= f.label :address, 'Address:' %>
  <%= f.text_field :address %>
  <%= f.label :city, 'City:' %>
  <%= f.text_field :city %>
  <%= f.label :state, 'State:' %>
  <%= f.text_field :state %>
  <%= f.label :zip, 'Zip:' %>
  <%= f.text_field :zip %>
  <%= f.submit 'Submit' %>
<% end %>