<h1>List of Boba Teas</h1>

<%= link_to 'Add Boba Tea', new_teahouse_boba_tea_path %><br>
<%= link_to "Sort by Tea Name", "/teahouses/#{@teahouse.id}/boba_teas?sort=true", method: :get  %>

<p>Number of Boba Teas:      <%= @teas.count %></p>

<% @teas.each do |tea| %>
  <section id="tea-<%=tea.id%>">
    <h3><%= link_to "#{tea.name}", boba_tea_path(tea) %></h3>
    <li>Price:      $<%= tea.price %></li>
    <li>Base:        <%= tea.base %></li>
    <li>Caffeinated: <%= tea.caffeinated %></li>
    <li>Description: <%= tea.description %></li>
  </section>
<% end %>