<h1>List of Discounts</h1>
<h3><%= link_to 'Create a New Discount', new_merchant_discount_path(@discounts.first.merchant_id) %></h3>

<% @discounts.each do |discount| %>
  <section id="discount-info-<%=discount.id%>">
    <h3><%= link_to "Discount #{discount.id}", merchant_discount_path(discount.merchant_id, discount.id) %></h3>
    <li>Discount Percentage: <%= discount.discount_percentage %></li>
    <li>Quantity Threshold:  <%= discount.quantity_threshold %></li>
    <h5><%= link_to "Delete Discount", merchant_discount_path(discount.merchant_id, discount.id), method: :delete  %></h5>
  </section>
<% end %>