Merchant Name: <%= @merchant.name %> <br>

<%= link_to('Items', "/merchants/#{@merchant.id}/items") %><br>
<%= link_to('Invoices', "/merchants/#{@merchant.id}/invoices") %><br>
<%= link_to('View All Discounts', merchant_discounts_path(@merchant.id)) %>

<ul class='merchant-top-5-customers-list'>
 <h3>Top 5 Customers</h3>
  <% @merchant.top_five_customers.each do |customer| %>
    <li><%= customer.first_name %>: <%= customer.successful_transactions %></li>
  <% end %>
</ul>

<ul class='items-rdy-to-ship'>
  <h3>Items Ready to Ship</h3>
  <% @merchant.order_merchant_items_by_invoice_created_date(@merchant.items_ready_to_ship).each do |item| %>
    <li>
      <%= item.name %>
      <%= link_to item.id, merchant_item_path(@merchant.id, item.id) %>
      <%= item.invoices.first.created_at.strftime("%A, %B %d, %Y") %>
    </li>
  <% end %>
</ul>
