<h1> Update Boba Tea Info </h1>
<%= form_with model: @boba_tea, url: boba_tea_path(@boba_tea), local: true do |f| %>
  <%= f.label :name, 'Name:' %>
  <%= f.text_field :name %>
  <%= f.label :price, 'Price:' %>
  <%= f.text_field :price %>
  <%= f.label :base, 'Base:' %>
  <%= f.text_field :base %>
  <%= f.label :description, 'Description:' %>
  <%= f.text_field :description %>
  <%= f.label :caffeinated, 'Caffeinated?' %>
  <%= f.select(:caffeinated, ['Yes', 'No'], prompt: 'Caffeinated?') %>

  <%= f.submit 'Submit' %>
<% end %>