<h1><%= @boba_tea.name%></h1>

<li>Price:      $<%= @boba_tea.price %></li>
<li>Base:        <%= @boba_tea.base %></li>
<li>Caffeinated? <%= @boba_tea.caffeinated %></li>
<li>Description: <%= @boba_tea.description %></li><br> 

<%= link_to 'Update Boba Tea', edit_boba_tea_path(@boba_tea) %><br> 
<%= link_to 'Delete Boba Tea', boba_tea_path(@boba_tea), method: :delete %><br/> 