<section id="movie-details">
  <h1><%= @movie.title %></h1>
  <li>Creation Year:      <%= @movie.creation_year %> 
  <li>Genre:              <%= @movie.genre%> 
  <li>Actors:             <%= @movie.actors_by_age.pluck(:name).to_sentence%> 
  <li>Average Actor Age:  <%= @movie.actor_avg_age %> 
</section><br>

<section id="add-actor">
  <%= form_tag movie_actors_path(@movie.id), method: :post do %>
    <%= label_tag :actor_name, "Add an Actor" %>
    <%= text_field_tag :actor_name %><br>
    <%= submit_tag 'Add' %>
  <% end %>
</section>