<%= "Search Results: #{@parks.count}" %>
<% @parks.each do |park| %>
  <ul class='parks'>
    <p class='name'>
     <h2><%= park.name %></h2>
    </p>
    <p class='hours'>
  <table id="days-and-time">
    <h4> Hours of Operations: </h4> 
      <tr>
        <th>Day</th>
        <th>Time</th>
      </tr>
      <tr>
       <% park.hours.map do |day, time| %>
        <td><%= day.capitalize  %></td>
        <td><%= time %></td>
      </tr>
    <% end %>
  </table>
    </p>
    <p class='description'>
     <h4> Description:</h4> <%= park.description %>
    </p>
    <p class='directions'>
     <h4> Directions: </h4> <%= park.directions %>
    </p>
  </ul>
<% end %>