<div class="greet">
  <h1>Explore Page </h1>

  <form method="get" action="/explore/search">
    <div class="form-group">
      <select class="custom-select" name="city" onchange="this.form.submit()">
        <option selected="">Select by City</option>
        <% @cities.each do |city| %>
          <option value="<%= city %>"><%= city %></option>
        <% end %>
      </select>
      <noscript><input type="submit" value="Submit"></noscript>
    </div>
  </form>

</div> 

<section id="populated-excursions">
  <h2>Search Results </h2>
  <% @excursions.each do |excursion| %>
    <div class="card border-secondary mb-3" style="max-width: 15rem;">
      <div class="card-header"><%= excursion.nearest_city %></div>
        <div class="card-body">
        <p><%= link_to excursion.title, "/excursions/#{excursion.id}" %></p>
        <p><%= excursion.description %></p>
        <%=link_to "Save", favorite_path(excursion.id), method: :post %>
      </div>
    </div>
  <% end %>
</section>
