<!DOCTYPE html>
<html>
  <head>
    <title>Go Local</title>
    <%= favicon_link_tag 'circle-logo.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <nav class="navbar fixed-top navbar-dark" style="background-color: #000000;">
        <a class="navbar-brand" href="/dashboard">
          <%= image_tag 'square-logo.png', class: "navbar-brand", style: 'width:45px' %>
        </a>
        <div class="ml-auto">
          <%= link_to 'Dashboard', dashboard_path, style: "color: #e4e8de" %>
          <%= link_to 'Explore', explore_path, style: "color: #e4e8de" %>
          <%= link_to 'Logout', logout_path, style: "color: #e4e8de" %>
        </div>
      </nav>
    <% end %>

    <% flash.each do |type, msgs|%>
    <h4><%= msgs %></h4>
    <% end %>

    <%= yield %>
  </body>
</html>
